<div class="footerr">
    <div class="wrapper">
        <div class="left">
            <img src="@Url.Content("~/assets/logo/Portland-footer.png")" class="portland-fot" alt="">
        </div>
        <div class="right">
            <a href="#">
                <img src="@Url.Content("~/assets/logo/Twitter_Icon.png")" class="portland-twit" alt="">
            </a>
            <a href="#">
                <img src="@Url.Content("~/assets/logo/Facebook_Icon.png")" class="portland-twit" alt="">
            </a>
            <a href="#">

                <img src="@Url.Content("~/assets/logo/G+_Icon.png")" class="portland-twit" alt="">
            </a>
        </div>
        <div class="center">
            <div class="links">
                <a href="Home/Index" class="text-footer">
                    home
                </a>
                <a href="Index.html" class="text-footer">
                    shop
                </a>
                <a href="Index.html" class="text-footer">
                    team
                </a>
                <a href="Index.html" class="text-footer">
                    about us
                </a>
                <a href="Index.html" class="text-footer">
                    contacts
                </a>
            </div>
        </div>
        <hr class="line-footer">
    </div>
    <div class="bottom-txt-footer">
        She gave my mother such a turn, that I have always been convinced I am indebted to Miss Betsey for having been born on a Friday.
    </div>
    <div class="privacy">
        Privacy
    </div>
</div>
